# .gitattributes for {{ WTD_REPO_NAME }}
# https://git-scm.com/docs/gitattributes
#
# Ignore some files for exports / releases
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmessages export-ignore
/tests
