# name: kudos.txt
# description: Express gratitude to your contributors.
# author: while-true-do.io
# contact: hello@while-true-do.io
# license: BSD-3-Clause
# reference: https://github.com/kudos-txt

## contributors
TODO: Fill in all information and remove this line.
- name: <name>
  role: <role in the repository>
  site: <url>, <mail>, <social>
  company: <company>
  location: <city>, <country>

## partners and sponsors
TODO: Fill in all information and remove this line.
- name: <name>
  site: <url>, <mail>, <social>

## software and tools
TODO: Fill in all information and remove this line.
- name: <name of the software (please include brand marks)>
  license: <license>
