<!-- Header (auto generated) -->
![](https://img.shields.io/github/license/while-true-do/{% WTD_REPO_NAME %}.svg?style=flat)
![](https://img.shields.io/github/issues/while-true-do/{% WTD_REPO_NAME %}.svg?style=flat)

<!-- Only Ansible, parsing from meta/main.yml -->
<!-- FIXME: Maintain in ansible-galaxy-skeleton -->
![](https://img.shields.io/badge/dynamic/yaml.svg?label=Min.%20Ansible%20Version&url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhile-true-do%2F{% WTD_REPO_NAME %}%2Fmaster%2Fmeta%2Fmain.yml&query=%24.galaxy_info.min_ansible_version&colorB=black)
![](https://img.shields.io/badge/dynamic/yaml.svg?label=Supported%20OS&url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhile-true-do%2F{% WTD_REPO_NAME %}%2Fmaster%2Fmeta%2Fmain.yml&query=galaxy_info.platforms%5B*%5D.name&colorB=black)
![](https://img.shields.io/badge/dynamic/yaml.svg?label=Galaxy%20Tags&url=https%3A%2F%2Fraw.githubusercontent.com%2Fwhile-true-do%2F{% WTD_REPO_NAME %}%2Fmaster%2Fmeta%2Fmain.yml&query=%24.galaxy_info.galaxy_tags%5B*%5D&colorB=black)

# {% WTD_REPO_NAME %}
<!-- ./Header (auto generated) -->
<!-- TODO: Short Description: One sentence to describe the repository. -->

## Motivation

<!-- TODO: Describe your motivation for this repository.

-  What is the intention for this repository?
-  Who may be interested?
-  Which problem should be solved?
-->

## Description

<!-- TODO: Describe the repository in some more details.

-   Which features does it provide?
-   Why is it awesome or cool?
-->

## Requirements

<!-- TODO: Describe the requirements before installing.

-  What is needed?
-  What are prerequisites, dependencies or requirements?
-  Is something needed before one can install?
-->

## Installation

<!-- TODO: Describe the Installation process.

-  How do you install the software/tool?
-  Is there a package, container or some other resources?
-  Are special commands needed to build/install/run?
-->

## Usage

<!-- TODO: Describe how one can use the repository or it's software.

-   Is there a help or manual?
-   How do you call the software?
-   Is there something to configure?
 -->

<!-- Footer (auto generated) -->

## Testing

Most of the "generic" tests are located our
[Test Library](https://github.com/while-true-do/test-library). Tests and
instructions for a single repository are located in the
[Test Directory](./tests).

## Contribute

Thank you so much for considering to contribute. We are very happy, when somebody
is joining the hard work. Please fell free to open
[Bugs, Feature Requests](https://github.com/while-true-do/{% WTD_REPO_NAME %}/issues) or
[Pull Requests](https://github.com/while-true-do/{% WTD_REPO_NAME %}/pulls) after reading the [Contribution Guideline](https://github.com/while-true-do/doc-library/blob/master/documents/CONTRIBUTING.md).

## License

This work is licensed under a [BSD-3-Clause License](https://opensource.org/licenses/BSD-3-Clause).

## Contact

-   Site <https://while-true-do.io>
-   Twitter <https://twitter.com/wtd_news>
-   Code <https://github.com/while-true-do>
-   Mail [hello@while-true-do.io](mailto:hello@while-true-do.io)
-   IRC [freenode, #while-true-do](https://webchat.freenode.net/?channels=while-true-do)
-   Telegram <https://t.me/while_true_do>

<!-- ./Footer (auto generated) -->
